@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* :root{
    --background-clr--:#fff;
    --font-clr--: #000;
    --hover-clr--: #e7e7e7;
    --secondery-clr--: #d1d1d1;
    --seconderyDark-clr--: #666666;
    --highlight-clr--: #f35111;
  } */
  :root{
    --background-clr--:#fff;
    --font-clr--: #3a001e;
    --hover-clr--: #a6665a;
    --icon-clr--: #4d4d4d;
    --secondery-clr--: #ea6955;

    --light-font--:'Open Sans';
    --bold-font--:'Roboto';
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: all 300ms;
  }
  nav{
    width: 100%;
    height: auto;
    box-shadow: 0px 1px 15px #000;
    position: fixed;
    /* display: block; */
    /* top: 0; */
    /* left: 0; */
    /* right: 0; */
    z-index: 1000;
    background-color: var(--background-clr--);
  }
  .upper-div{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0px 20px;
    overflow: hidden;
    background-color: var(--secondery-clr--);
  }
  /* social icons */
  .upper-div i{
    font-size: .9rem;
    color: var(--background-clr--);
    padding-left: 10px;
    cursor: pointer;
  } 
  /* navigation */
  .upper-div ul{
    display: flex;
    list-style: none;
  }
  .upper-div ul li{
    padding-left: 40px;
  }
  .upper-div a{
    /* font-weight: 500; */
    text-decoration: none;
    font-size: .9rem;
    color: var(--background-clr--);
    font-family: var(--light-font--);
  }
  .upper-div a:hover{
    color: var(--hover-clr--);
  }
/* contact section */
  .upper-div .contact-section{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact-section i{
    color: var(--background-clr--);
  }
 
  .contact-section p{
    padding-left: 10px;
    font-size: .9rem;
    color: var(--background-clr--);
    font-family: var(--light-font--);
  }
  .contact-section div{
    display: flex;
    align-items: baseline;
    margin-left: 20px;
    cursor: pointer;
    
  }
  
  .contact-section span:hover{
    background-color: var(--hover-clr--);
  }

  /*=================== bottom div=============================== */
  .bottom-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
  }

  .bottom-div .logo{
    color: var(--icon-clr--);
    font-size: 1.3rem;
    padding-left: 10px;
  }


  .bottom-div .oparate{
    display: flex;
    justify-content: space-between;
  }
  .oparate i{
    margin-left: 30px;
    font-size: 1.2rem;
    color: var(--icon-clr--);
    cursor: pointer;
  }
  /* .oparate .c_icon:hover{
    transform: scale(1.2);
  } */
  .oparate .cart:hover, .setting:hover{
    transform: scale(1.2);
    /* transform: rotate(180deg); */
  }
 

  .bottom-div input{
    padding: 10px 30px;
    width: 400px;
    outline: none;
    border: none;
    border-radius: 2rem;
  }
  .bottom-div button{
    padding: 10px 20px;
    outline: none;
    border: none;
    background: var(--secondery-clr--);
    border-radius: 0 2rem 2rem 0 ;
    cursor: pointer;
  }
  .bottom-div button i{
    color: #fff;
  }
  .search{
    border: 1px solid var(--secondery-clr--);
    border-radius: 1.5rem;
    display: flex;
    justify-content: space-between;
  }
  .bottom-div .menu-icon{
    color: var(--secondery-clr--);
    font-size: 1rem;
    display: none;
    cursor: pointer;
  }
  .bottom-div .menu-icon:hover{
    transform: scale(1.2);
  }

  /*======================== responsive =====================*/
/* for small divices */
  @media only screen and (max-width:600px){
    nav{
      /* width: 100%; */
    }
    .upper-div{
      display: none;
    }
    .bottom-div .logo{
      display: none;
    }
    .bottom-div .menu-icon{
      display: block;
    }
    .bottom-div input{
      width: 200px;
    }
    .oparate i{
      margin-left: 10px;
      font-size: .9rem;
    }
  }

  /* for medium devices */
  @media only screen and (max-width:768px){
    /* .upper-div{
      display: none;
    }
    .bottom-div .logo{
      display: none;
    }
    .bottom-div .menu-icon{
      display: block;
    }
    .bottom-div input{
      width: 300px;
    }
    .oparate i{
      margin-left: 20px;
      font-size: 1.2rem;
    } */


  }
  /* for large devices */
  @media only screen and  (max-width:992px){
    .upper-div .contact-section{
      display: none;
      }
   }
     
  
/* for extra large devices */
  @media only screen and (max-width: 1200px){
    .upper-div ul li{
      padding-left: 20px;
    }
  }